*{
    margin: 0;
    padding: 0;
}


body{
    padding-left: 35px;
}

#sidebar{
    position: fixed;
    width: 15%;
    height: 100%;
    left: -15%;
    background-color: #585858;
    
}

#sidebar li{
    color: white;
    font-size: 25px;
    padding: 25px;
    border-bottom: 1px solid gray;
    text-align: center;
}

#sidebar a{
    text-decoration: none;
    color: black;
}

.toggle-btn{
    position: absolute;
    left: 103%;
    top: 15px;
}

.toggle-btn span{
    display: block;
    margin: 3px;
    background-color: black;
    width: 23px;
    height: 5px;
}

#sidebar.active{
    left: 0;
}

#topbar{
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
}

#topbar li{
    text-decoration: none;
    display: inline-block;
    margin: 50px;
    font-size: 20px;
    margin-top: 10px;
}

#topbar a{
    color: black;
    text-decoration: none;
}